# Development
.git
.github
.idea
.vscode
.gradle
local.properties

# Example app
example/node_modules
example/ios/Pods
example/ios/build
example/android/build
example/android/app/build

# Build artifacts
android/build
ios/build
temp-package/
*.zip

# Scripts
scripts/

# Tests
__tests__
coverage
.jest

# Misc
.DS_Store
npm-debug.log
yarn-error.log
*.tgz 